.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background: white; */
  padding: 1rem 2rem;
  z-index: 999;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
  /* box-sizing: border-box; */
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #7a1cd7;
  margin-left: 0.25rem;
  transition: color 0.2s;
  
}
.nav-logo a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: #7a1cd7;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #333; /* LinkedIn blue on hover */
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* MOBILE RESPONSIVE MENU */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* This should make it appear on mobile */
    /* background: white; */
    padding: 1rem;
  }

  .nav-links {
    position: absolute;
    top: 60px; /* Adjust if your navbar height is different */
    left: 0;
    background: white;
    opacity: 0.7;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    display: none !important;

  }

  .nav-links.open {
    display: flex !important;
  }
  .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background: white; */
  padding: 0.1rem 2rem;
  z-index: 999;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
  box-sizing: border-box;
}
}

.nav-logo {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-icon-wrapper {
  display: flex;
  align-items: flex-end; /* aligns icons to text baseline */
  margin-left: 0.5rem;
}

.nav-icon {
  color: #333;
  margin-left: 0.5rem;
  position: relative;
  top: 2.5px; /* fine-tune vertical alignment */
  transition: color 0.25s;
}

.nav-icon:hover {
  color: #0077b5; /* LinkedIn blue or GitHub dark */
}